TextBDAT/
BDAT_JSON/
JsonOutputs/
dist/
build/
RandomizedBDATOutput/
OriginalBDAT/
OriginalsJsons/
bdat/

SavedOptions.txt
GUISavedOptions.txt
TextFiles/
__pycache__/
scripts/__pycache__
