TextBDAT/
BDAT_JSON/
JsonOutputs/
JsonOutputs2/
dist/
build/
RandomizedBDATOutput/
OriginalBDAT/
OriginalsJsons/
bdat/
text

SavedOptions.txt
GUISavedOptions.txt
TextFiles/
__pycache__/
scripts/__pycache__
SaveData
*.spec
.vscode/settings.json
/XCDE/SaveData
scripts/Goals.txt
GUIGoals.txt
XCDE/Enemies.txt
/.vscode
XC2/Torna_Spoiler_Logs/
