
.WhiteBorder{
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    padding: 1em;
    margin: 0.5em;
}

#Header{
    font-size: 30; 
    margin-bottom: 1em;
    overflow: hidden;
}

#RandomizerOptions{
    padding: 5em;
    padding-bottom: 1em;
    padding-top: 1em;

}

.RandomizeButton{

    margin-bottom: 1.6em;
}

.RandomizeButton:hover{

    background-color: rgb(45, 189, 81);
}

.RandomizeButton:active{
    background-color: rgb(255, 255, 255);
}

.slider{
    margin-bottom: 1em;
    
    
}

.slider:hover{
    color: aqua;
    background-color: aqua;
}

#Category{
    margin: 1em;
}
body{
    caret-color: transparent;
    color: white;
    background-color: rgb(99, 36, 36);
}

.container{

    padding: 10px;
}

html{
    border-color: rgb(83, 31, 31);
    border-width: 30px;
    border-style:double;
    
}